%h1 Home#index
%p Find me in app/views/home/index.html.haml
%i.icon-search
.btn-group
  %a.btn.btn-primary{:href => "#"}
    %i.icon-user.icon-white
    User
  %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %span.caret
  %ul.dropdown-menu
    %li
      %a{:href => "#"}
        %i.icon-pencil
        Edit
    %li
      %a{:href => "#"}
        %i.icon-trash
        Delete
    %li
      %a{:href => "#"}
        %i.icon-ban-circle
        Ban
    %li.divider
    %li
      %a{:href => "#"}
        %i.i
        Make admin